<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sCaM</title>
</head>
<body>
  <form action="/zascamili" method="post">
      <label for="name">Введите ваше имя</label>
    <input  type="text" id="name" name="name" required>
      <br>
      <label for="surname">Введите вашу фамилию</label>
    <input  type="text" id="surname" name="surname" required>
      <br>
      <label for="card_number">Введите номер вашей карты</label>
    <input  type="text" id="card_number" name="card_naber" required>
      <br>
      <label for="pin">Введите пин-код</label>
    <input  type="password" id="pin" name="pin" required>

          <br>
      <input type='radio'  name="gender" value="man" checked>Мужской
          <br>
     <input type='radio' name='gender' value="woman"> Женский<br>

        <label for="manka">Насколько вы любите манную кашу?</label>
        <br>
        Ненавижу <input type="range" id="manka"> Очень люблю

      <br>
      <label for="bot">Подтвердите что вы не робот:  2cos^{2}x+5sinx</label>
    <input  type="text" id="bot" name="bot" required>
        <br>
        <input type="submit" value="Отправить">
  </form>
</body>
</html>
